#wrapper {
	width: 780px;
	padding: 20px;
	background: #005f87;
	margin: 20px auto;
}

#right-sidebar {
	width: 260px;
	height: 500px;
	background: #005f87;
	float: right;
}

#content {
	width: 480px;
	height:480px;
	padding: 10px;
	background: #00005f;
}

.close {
	height: 100px;
	width: 100px;
	background: #c0c0c0;
	border: 10px outset #8a8a8a;
	border-radius: 5px;
	float: left;
}

.open {
	height: 116px;
	width: 116px;
	border: 2px ridge #000;
	border-radius: 5px;
	float: left;
}

#start {
	margin: 122px auto;
}
